/* header container */

.header__section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border-bottom: 1px solid var(--border-color);
  font-size: 16px;
  font-weight: 700;
  user-select: none;
  box-shadow: var(--shadow-md);
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 100;
  letter-spacing: 0.4px;
}

/* logo */
.header__section__logo {
  font-size: 24px;
}

.header__section__logo a {
  color: var(--primary-color);
  text-decoration: none;
}

.header__section__logo a:hover {
  color: var(--primary-hover);
}


/* header navlinks */
.header__section__navlinks ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.header__section__navlinks ul li {
  position: relative;
  transition: color 0.3s ease;
}

.header__section__navlinks ul li:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header__section__navlinks ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  width: 0%;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.header__section__navlinks ul li:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  width: 100%;
  background-color: var(--primary-color);
}

/* social medias */
.header__section__social__media a {
  color: var(--text-primary);
}

/* icons */
.header__section__icons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header__section_single_icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.header__section__hamburger {
  display: none;
}

/* ================================ */
/* Mobile view */
/* ================================ */
@media (max-width: 768px) {
  .header__section__container {
    position: sticky;
    z-index: 5;
    padding: 2rem 1.5rem;
  }

  .header__section__navlinks {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    padding: 1rem 0;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-secondary);

    background-color: rgba(15, 23, 42, 0.35);
    backdrop-filter: blur(10px);
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transform: translateY(-10px);
    opacity: 0;
    z-index: 4;
    border-left: 7px solid var(--primary-color);
    transition:
      max-height 0.4s ease,
      transform 0.4s ease,
      opacity 0.4s ease;
  }

  .header__section__navlinks.show_navlinks {
    display: block;
    transform: translateY(0);
    max-height: 600px;
    opacity: 1;
    color: white;
  }

  .header__section__navlinks ul {
    padding: 1rem 0;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
  }

  .header__section__hamburger {
    display: block;
  }
}
