.maintenance__container {
  padding: 0rem 0rem;
  display: inline-flex;
  align-items: center;
  /* justify-content: center; */
  background-color: rgba(0, 0, 0, 0.299);
  overflow: hidden;
  /* position: fixed;
  width: 100%;
  bottom: 0px; */

  position: sticky;
  top: 70px;
  left: 100%;
  z-index: 3;
  animation: fadeInOut 3s infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.maintenance__text {
  font-size: clamp(1.5vw, 2vw, 4vw);
  font-weight: 100;
  color: rgba(255, 0, 0, 0.651);
  white-space: nowrap;
}
